/* -------------------- */
/*        GLOBAL        */
/* -------------------- */

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.icon {
  width: 20px;
  height: 20px;
}

/* -------------------- */
/*        HEADER        */
/* -------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  padding: 5px 50px;

  background-color: #ffffff;
}

.logo a {
  font-weight: 800;
  color: #36bba7;
}

/* -------------------- */
/*         NAV          */
/* -------------------- */

.nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav a {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 8px 16px;
  border-radius: 30px;

  color: rgb(0, 0, 0);

  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

.nav a:hover {
  background-color: #ffffff1a;
  color: #5d6463;
}

/* -------------------- */
/*        BUTTON        */
/* -------------------- */

header button {
  height: 50px;
  padding: 10px;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;

  background-color: #5fd1bf;

  border: none;
  border-radius: 20px;
}

header button a {
  display: flex;
  align-items: center;
  gap: 5px;

  color: white;
}

/* -------------------- */
/*        MAIN        */
/* -------------------- */

main {
  display: flex;
  flex-direction: column;
}

.recuadro-1 {
  width: auto;
  height: 300px;

  background-color: #a0f5e8;
}

.recuadro-titulo {
  margin-top: 50px;
  margin-left: 30px;
}

.recuadro-titulo h1 {
}

.recuadro-titulo p {
}

.recuadro-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  background-color: #ffffff;
}

.recuadro-2 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.imagen-explicacion {
  width: 40 0px;
  height: 400px;
  overflow: hidden; /* evita que sobresalga */
}

.favoritos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: 200px;
  margin-right: 100px;
  padding: 20px;
}

.favorito-item {
  width: 300px;
  height: 200px;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 60px;
}

.habitacion1 {
  background-image: url("https://media.istockphoto.com/id/1990444472/es/foto/estilo-escandinavo-acogedor-interior-de-la-sala-de-estar.jpg?s=612x612&w=0&k=20&c=N9OYGbUNwkKuJSdrnotLn40UaPjva45XIWu5sV8nmDs=");
}

.habitacion2 {
  background-image: url("https://images.homify.com/v1487697657/p/photo/image/1856259/foto_13.jpg");
}

.habitacion3 {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/casa-familiar-moderna-diseno-salon-sofa-togo-libreria-1663057746.jpg?resize=980:*");
}

.habitacion4 {
  background-image: url("https://c.pxhere.com/photos/4f/f7/Apartment_Design_Furniture_Home_House_Interior_Interiors_Room-1621741.jpg!d");
}

.persona1 {
  background-image: url("https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVyc29uYXxlbnwwfHwwfHx8MA%3D%3D");
}

.persona2 {
  background-image: url("https://images.unsplash.com/photo-1494790108755-2616b612b786?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGVyc29uYXxlbnwwfHwwfHx8MA%3D%3D");
}

.persona3 {
  background-image: url("https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcnNvbmF8ZW58MHx8MHx8fDA%3D");
}

.persona4 {
  background-image: url("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHBlcnNvbmF8ZW58MHx8MHx8fDA%3D");
}

.persona5 {
  background-image: url("https://images.unsplash.com/photo-1500648767791-00dcc994a43e?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHBlcnNvbmF8ZW58MHx8MHx8fDA%3D");
}

.h2fav {
  margin-left: 20px;
}

/* -------------------- */
/*        FOOTER        */
/* -------------------- */

.footer {
  background-color: #f5f5f5;
  padding: 40px 60px 20px 60px;
}

.footer-contenido {
  width: auto;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-columna {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-logo {
  font-size: 22px;
  font-weight: 800;
  color: #36bba7;
}

.footer-columna h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.footer-columna a {
  color: #333;
  font-size: 14px;
  transition: 0.25s ease;
}

.footer-columna a:hover {
  color: #36bba7;
}

.footer-columna i {
  font-size: 26px;
  color: #333;
  transition: 0.25s ease;
}

.footer-columna i:hover {
  color: #36bba7;
}

.footer-copy {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}

.footer-copy p {
  font-size: 14px;
  color: #555;
}
