/* -------------------- */
/*        GLOBAL        */
/* -------------------- */

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.icon {
  width: 20px;
  height: 20px;
}

/* -------------------- */
/*        HEADER        */
/* -------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  padding: 5px 50px;

  background-color: #ffffff;
}

.logo a {
  font-weight: 800;
  color: #36bba7;
}

/* -------------------- */
/*         NAV          */
/* -------------------- */

.nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav a {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 8px 16px;
  border-radius: 30px;

  color: rgb(0, 0, 0);

  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

.nav a:hover {
  background-color: #ffffff1a;
  color: #5d6463;
}

/* -------------------- */
/*        BUTTON        */
/* -------------------- */

header button {
  height: 50px;
  padding: 10px;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;

  background-color: #5fd1bf;

  border: none;
  border-radius: 20px;
}

header button a {
  display: flex;
  align-items: center;
  gap: 5px;

  color: white;
}

/* -------------------- */
/*        MAIN        */
/* -------------------- */

main {
  display: flex;
  flex-direction: column;
}

.recuadro-1 {
  width: auto;
  height: 300px;

  background-color: #a0f5e8;
}

.recuadro-titulo {
  margin-top: 50px;
  margin-left: 30px;
}

.recuadro-titulo h1 {
}

.recuadro-titulo p {
}

.recuadro-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  background-color: #ffffff;
}

.recuadro-2 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.imagen-explicacion {
  width: 40 0px;
  height: 400px;
  overflow: hidden; /* evita que sobresalga */
}

.favoritos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  margin-left: 300px;
  margin-right: 100px;
  padding: 20px;
}

.favorito-item {
  width: 300px;
  height: 200px;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 60px;
}

.habitacion1 {
  background-image: url("https://www.shutterstock.com/image-photo/modern-luxury-home-exterior-large-600nw-2533389789.jpg");
}

.habitacion2 {
  background-image: url("https://images.unsplash.com/photo-1564013799919-ab600027ffc6?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aGVybW9zYSUyMGNhc2F8ZW58MHx8MHx8fDA%3D");
}

.habitacion3 {
  background-image: url("https://images.pexels.com/photos/7031408/pexels-photo-7031408.jpeg?cs=srgb&dl=pexels-artbovich-7031408.jpg&fm=jpg");
}

.habitacion4 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhgpkKwsubtasslhrEeflkMFFInDosGhEoTA&s");
}

.h2fav {
  margin-left: 20px;
}

/* -------------------- */
/*        FOOTER        */
/* -------------------- */

.footer {
  background-color: #f5f5f5;
  padding: 40px 60px 20px 60px;
}

.footer-contenido {
  width: auto;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-columna {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-logo {
  font-size: 22px;
  font-weight: 800;
  color: #36bba7;
}

.footer-columna h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.footer-columna a {
  color: #333;
  font-size: 14px;
  transition: 0.25s ease;
}

.footer-columna a:hover {
  color: #36bba7;
}

.footer-columna i {
  font-size: 26px;
  color: #333;
  transition: 0.25s ease;
}

.footer-columna i:hover {
  color: #36bba7;
}

.footer-copy {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}

.footer-copy p {
  font-size: 14px;
  color: #555;
}
